<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-55">
          {{ screen === screenEnum.Login ? "Login" : "Verification" }}
        </span>

        <ng-container *ngIf="screen === screenEnum.Login">
          <div
            class="wrap-input100 validate-input m-b-16"
            data-validate="Valid email is required: ex@abc.xyz"
          >
            <input
              class="input100"
              type="text"
              name="email"
              placeholder="Email"
              [(ngModel)]="account.email"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <span class="lnr lnr-envelope"></span>
            </span>
          </div>

          <div
            class="wrap-input100 validate-input m-b-16"
            data-validate="Password is required"
          >
            <input
              class="input100"
              type="password"
              name="pass"
              placeholder="Password"
              [(ngModel)]="account.password"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <span class="lnr lnr-lock"></span>
            </span>
          </div>

          <div *ngIf="errorMessage">
            <span class="text-danger font-weight-bold">
              {{ errorMessage }}
            </span>
          </div>
          <div class="w-100">
            <div id="recaptcha-container"></div>
          </div>

          <div class="container-login100-form-btn p-t-25">
            <button
              [class.login100-form-btn]="!loading || isValidForm"
              [class.disabled-login100-form-btn]="loading || !isValidForm"
              [disabled]="loading || !isValidForm"
              (click)="login()"
            >
              <img
                *ngIf="loading"
                width="20"
                height="20"
                src="assets/loading.svg"
              />
              &nbsp;Login
            </button>
          </div>
        </ng-container>

        <div class="w-100" *ngIf="screen === screenEnum.Verify">
          <div
            class="wrap-input100 validate-input m-b-16"
            data-validate="Valid email is required: ex@abc.xyz"
          >
            <input
              class="input100"
              type="string"
              name="otp"
              placeholder="Enter the OTP"
              [(ngModel)]="verificationCode"
            />
            <span class="focus-input100"></span>
            <span class="symbol-input100"> </span>
          </div>

          <div class="container-login100-form-btn">
            <button
              class="login100-form-btn"
              [class.login100-form-btn]="!loading || verificationCode"
              [class.disabled-login100-form-btn]="loading || !verificationCode"
              [disabled]="!verificationCode"
              (click)="verifyLoginCode()"
            >
              <img
                *ngIf="loading"
                width="20"
                height="20"
                src="assets/loading.svg"
              />
              &nbsp; Verify
            </button>

            <p class="font-weight-bold text-center mt-3 border-bottom-1" (click)="backToLogin()">
              Back to login.
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
